name: Coveralls

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  coveralls:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: test
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2
      - run: docker compose up minio -d
      - run: timeout 60s bash -c 'until curl -s http://localhost:9000/minio/health/ready; do sleep 1; done'
      - name: Create bucket
        run: |
          aws --endpoint-url http://localhost:9000 \
              --no-verify-ssl \
              s3 mb s3://my-first-bucket \
              --region us-east-1
        env:
          AWS_ACCESS_KEY_ID: minioadmin
          AWS_SECRET_ACCESS_KEY: minioadminpw
          AWS_EC2_METADATA_DISABLED: true
      # install and test
      - run: bun install
      - run: bun test
      - name: Coveralls
        uses: coverallsapp/github-action@5cbfd81b66ca5d10c19b062c04de0199c215fb6e # v2

    services:
      redis:
        image: redis@sha256:3906b477e4b60250660573105110c28bfce93b01243eab37610a484daebceb04
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
