name: Bun test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  bun-test:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: test
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2
      - run: docker compose up minio -d
      - run: timeout 60s bash -c 'until curl -s http://localhost:9000/minio/health/ready; do sleep 1; done'
      - name: Create bucket
        run: |
          aws --endpoint-url http://localhost:9000 \
              --no-verify-ssl \
              s3 mb s3://my-first-bucket \
              --region us-east-1
        env:
          AWS_ACCESS_KEY_ID: minioadmin
          AWS_SECRET_ACCESS_KEY: minioadminpw
          AWS_EC2_METADATA_DISABLED: true
      # install and test
      - run: bun install
      - run: bun test
      # teardown
      ## nothing

    services:
      redis:
        image: redis@sha256:5c7c0445ed86918cb9efb96d95a6bfc03ed2059fe2c5f02b4d74f477ffe47915
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
